.section {
  background-color: #5B3347;
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
  margin-bottom: 10px;
  border-radius: var(--mantine-radius-lg);
}

.title {
  font-size: var(--mantine-font-size-xl);
  font-weight: 500;
}

.button {
  align-self: flex-start;
  transition: transform 0.1s;
}

.button:hover {
  transform: scale(1.1);
}