.section {
  background-color: white;
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
  margin-bottom: 10px;
  border-radius: var(--mantine-radius-md);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
  /* text-transform: uppercase; */
  font-weight: 500;
}

.button {
  align-self: flex-start;
  transition: transform 0.1s;
}

.button:hover {
  transform: scale(1.1);
}