.profile {
  /* background-color: #5B3347; */
  /* border-radius: var(--mantine-radius-lg); */
  /* padding: 30px; */
  padding: 20px 0;
}

.profileHeading {
  font-size: var(--mantine-font-size-xl);
  font-weight: 500;
}
