.root {
  display: flex;
  /* background-image: linear-gradient(
    0deg,
    rgba(255, 157, 71, 1) 0%,
    rgba(255, 202, 55, 1) 100%
  ); */
  background-image: linear-gradient(
    0deg,
    rgba(241, 209, 121, 1) 0%,
    rgba(241, 209, 121, 1) 100%
  );
  padding: calc(var(--mantine-spacing-xl) * 1.5);
  border-radius: var(--mantine-radius-md);

  @media (max-width: var(--mantine-breakpoint-sm)) {
    flex-direction: column;
  }

  --mantine-breakpoint-sm: 48rem;
}

.title {
  color: var(--mantine-color-black);
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--mantine-font-size-sm);
}

.count {
  color: var(--mantine-color-black);
  font-size: rem(32px);
  line-height: 1;
  font-weight: 700;
  margin-bottom: var(--mantine-spacing-md);
  font-family: Greycliff CF, var(--mantine-font-family);
}

.description {
  color: var(--mantine-color-black);
  font-size: var(--mantine-font-size-sm);
  margin-top: rem(5px);
}

.stat {
  flex: 1;

  & + & {
    padding-left: var(--mantine-spacing-xl);
    margin-left: var(--mantine-spacing-xl);
    /* border-left: rem(1px) solid var(--mantine-color-blue-3); */
    border-left: rem(1px) solid rgb(255, 119, 0);

    @media (max-width: var(--mantine-breakpoint-sm)) {
      padding-left: 0;
      margin-left: 0;
      border-left: 0;
      padding-top: var(--mantine-spacing-xl);
      margin-top: var(--mantine-spacing-xl);
      border-top: rem(1px) solid var(--mantine-color-blue-3);
    }
  }
}
