.intro {
  background-color: white;
  border-radius: var(--mantine-radius-md);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
}

.coinsAmount {
  background-color: #62A64A;
  color: white;
  width: fit-content;
  padding: 5px 20px;
  border-radius: var(--mantine-radius-md); 
}

.section {
  /* margin-top: 10px; */
}

.sectionTitle {
  font-size: var(--mantine-font-size-xl);
  font-weight: 500;
  color: var(--mantine-color-dark-5);
}

.sectionText {

}

.coinDisplay {
  color: white;
  background-color: #538C3F;
  justify-content: center;
  padding: 8px 20px;
  border-radius: var(--mantine-radius-md);
}