.addBtn {
  transition: transform 0.05s;
  color: var(--mantine-color-dark-6);
}

.addBtn:hover {
  transform: scale(1.05);
}

.noProjectHeader {
  font-size: var(--mantine-font-size-xl);
  font-weight: 500;
}

.noProjectText {
  /* text-align: center; */
}

.column {
  width: 25%;
}