.headerText {
  font-size: 20px;
  font-weight: 500;
  /* color: white; */
  /* color: #794B62; */
}

.simpleHeader {
  background-color: white;
  padding: 10px 40px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  height: 60px;
  align-content: center;
  position: sticky;
  top: 0;
  /* width: 100%; */
}

.functionalHeader {
  background-color: white;
  padding: 10px 40px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  height: 60px;
  align-content: center;
  position: sticky;
  top: 0;
}