.navbar {
  /* height: 400px; */
  min-width: 250px;
  border-radius: var(--mantine-radius-lg);
  padding-left:  var(--mantine-spacing-xs);
  padding-right: var(--mantine-spacing-xs);
  display: flex;
  flex-direction: column;
  background-color: #5B3347;
  align-self: flex-start;
}

.navbarMain {
  flex: 1;
}

.header {
  color: #F3F0E6;
  font-weight: 500;
  font-size: 30px;
  padding-top: var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-lg);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-lg);
  color: #F3F0E6;
  padding-left: var(--mantine-spacing-lg);
  padding-top: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-xl);
  padding-bottom: var(--mantine-spacing-xs);
  margin-bottom: var(--mantine-spacing-sm);

  &[data-active] {
    &,
    &:hover {
      background-color: rgba(255,255,255,0.1);
    }
  }
}

.link:hover {
  background-color: rgba(255,255,255,0.1);
  
  .linkIcon {
  }
}

.linkIcon {
  color: #F3F0E6;
  margin-right: var(--mantine-spacing-md);
  width: 25px;
  height: 25px;
}