.navbar {
  height: 100vh;
  width: rem(180px);
  padding-right: var(--mantine-spacing-sm);
  display: flex;
  flex-direction: column;
  background-color: #DBAF59;
}

.navbarMain {
  flex: 1;
}

.header {
  color: var(--mantine-color-dark-7);
  padding-top: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-dark-7);
  padding-left: var(--mantine-spacing-lg);
  padding-top: var(--mantine-spacing-xs);
  border-top-right-radius: var(--mantine-radius-xl);
  border-bottom-right-radius: var(--mantine-radius-xl);
  padding-bottom: var(--mantine-spacing-xs);
  font-weight: 400;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-light));
    color: var(--mantine-color-dark-7);

    .linkIcon {
      color: var(--mantine-color-dark-7);
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-dark-light);
      font-weight: 500;
    }
  }
}

.linkIcon {
  color: var(--mantine-color-dark-7);
  margin-right: var(--mantine-spacing-sm);
  width: rem(20px);
  height: rem(20px);
}