.navbar {
  /* max-height: auto; */
  height: 30rem;
  width: 15rem;
  /* width: rem(180px); */
  border-radius: var(--mantine-radius-md);
  padding-left:  var(--mantine-spacing-xs);
  padding-right: var(--mantine-spacing-xs);
  display: flex;
  flex-direction: column;
  background-color: #5B3347;
}

.navbarMain {
  flex: 1;
}

.header {
  color: var(--mantine-color-white);
  padding-top: var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-lg);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-white);
  padding-left: var(--mantine-spacing-lg);
  padding-top: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-xl);
  padding-bottom: var(--mantine-spacing-xs);
  font-weight: 400;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-1));
    color: var(--mantine-color-dark-7);

    .linkIcon {
      color: var(--mantine-color-dark-7);
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-);
      font-weight: 500;
    }
  }
}

.linkIcon {
  color: #F3F0E6;
  margin-right: var(--mantine-spacing-sm);
  width: rem(20px);
  height: rem(20px);
}